div {
margin-top: 250px;
margin-left:780px;
margin-bottom: 10px;
position: relative;
}

form {
text-align: center;
}

button {
border: none;
height: 36px;
width: 125.75px;
font-family: sans-serif;
margin-top: 36px;

}

input {
font-family: sans-serif;
height: 26px;
width: 525px;
}



